<a href="https://colab.research.google.com/github/UtkarshHere/Python-/blob/main/Copy_of_String___Handson_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Hands-on lab on Strings

In [ ]:
#defining a string with single quotes and printing it

my_string = 'Hello'
print(my_string)

In [ ]:
#defining a string with double quotes and printing it

my_string = "Hello"
print(my_string)

In [ ]:
#defining a string with triple quotes and printing it

my_string = '''Hello'''
print(my_string)

In [ ]:
#defining a multiline string with triple quotes and printing it

my_string = '''Hello Welcome to
        the World of Python'''
print(my_string)

#### String indexing

In [ ]:
my_string = "Hello"
print(my_string[0])

In [ ]:
my_string = "Hello"
print(my_string[0.0])

In [ ]:
my_string = "Hello"
print(my_string[6])

#### String reverse indexing

In [ ]:
my_string = "Hello"
print(my_string[-1])

In [ ]:
my_string = "Hello"
print(my_string[-2])

#### Slicing the string

In [ ]:
my_string = "Hello"
print("3rd charecter to 5th character - "+my_string[2:5])

In [ ]:
my_string = "Hello"
print("All until 3rd character - "+my_string[:3])

In [ ]:
my_string = "Hello"
print("All from 2nd character - "+my_string[2:])

In [ ]:
my_string = "abcdefghijk"
##stride
print("String from 2nd to 10th char skipping one char - "+my_string[1:11:2])

#### String is immutable - When you reassign the original string is dissociated from the name and the new string is assigned.

In [ ]:
my_string = "Hello"

print(my_string)

my_string = "New String"

print(my_string)

#### Deleting a string

In [ ]:
#Let's delete the string object we created in the previous step

#Check is string exists
print(my_string)

#delete the string
del my_string

#check if string exists - this should throw an error.
print(my_string)

#### String Functions

In [ ]:
#concatenaation

str1 = "Hello "
str2 = "World"

print(str1+str2)

In [ ]:
#string contains another string

str1 = "Hello"

print("'e' in str1",'e' in str1)

print("'a' in str1",'a' in str1)

In [ ]:
print(len(str1))

#### Escape sequence in String

In [ ]:
#We want "Let's go" to be printed in quotes. We use \ to escape the meaning
print("She said \"Let's go!\"")

In [ ]:
#print in uppercase

print("abcdefghijklmnopqrstuvwxyz".upper())

In [ ]:
#print in lowercase

print("ABCDEFGHIJKLMNOPQRSTUVWXYZ".lower())

In [ ]:
# Join - joins str1 to every character of str2, but the last
str1 = "Hello"
str2 = "World"
print(str1.join(str2))

In [ ]:
#split splits the string based on the separator and returns an array
#default separator is space

str1 = "The quick brown fox jumped over the lazy dog"

print(str1.split())

In [ ]:
#split with comma separator
str1 = "Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday"

print(str1.split(","))

In [ ]:
#find - returns the index of the string we are searching for

str1 = "The quick brown fox jumped over the lazy dog"

print(str1.find("fox"))

In [ ]:
#for string not found, it returns -1
print(str1.find("lion"))

In [ ]:
# replace - replaces the word in a string with another. 
# As string is immutable, new string object is created.

str1 = "The quick brown fox jumped over the lazy dog"

str1.replace("fox","monkey")